%h1 Listing feefiles

%table
  %tr
    %th Feefilename
    %th End Date
    %th Extracted Filename
    %th Extracted Start Date
    %th
    %th
    %th
    %th

  - @feefiles.each do |feefile2|
    %tr
      %td= feefile2.feefilename
      - if not feefile2.enddate.nil?
        %td= feefile2.enddate.strftime("%d/%m/%Y")
      - else
        %td
      %td= feefile2.extractfilename
      - if not feefile2.extractstartdate.nil?
        %td= feefile2.extractstartdate.strftime("%d/%m/%Y")
      - else
        %td 
      
      %td= link_to 'Edit', edit_feefile2_path(feefile2)
      %td= link_to 'Show', feefile2_path(feefile2)
      %td= link_to 'Destroy', feefile2, :confirm => 'Are you sure?', :method => :delete
      %td= "------------->"
      %td=button_to 'Extract from this File', feefile_extract_path(feefile2),:method => :get
      - if not feefile2.extractfilename.nil?
        %td= "------------->"
        %td=button_to 'Download the extracted File', feefile_download_path(feefile2),:method => :get
 

%br
<h2>

</h2>
= link_to 'Upload a Fee File', new_feefile_path
