= form_for @debtor_file do |f|
  -if @debtor_file.errors.any?
    #error_explanation
      %h2= "#{pluralize(@debtor_file.errors.count, "error")} prohibited this debtor_file from being saved:"
      %ul
        - @debtor_file.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
